/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flex-col {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  padding: 1rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
  margin: 0rem auto;
  padding: 1rem;
}
.nospace {
  margin: 0;
  padding: 0;
}
.space {
  margin: 0 auto;
  padding: 2rem;
}
.innerbg {
  background-color: #FFCB9A;
}
.h2 {
  font-size: 1rem;
  font-variant: small-caps;
  display: inline-block;
  text-indent: 4rem;
  color: #116466;
}
.wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  padding: 1rem;
  border: 15px solid #2C3531;
  border-top: 0;
  border-bottom: 0;
  background-color: #f3f9f7;
}
.wrapper header {
  background-color: #FFCB9A;
  margin: 0;
  padding: 0;
  width: 50%;
  align-self: flex-end;
  border-radius: 2rem 2rem 0 0;
}
.wrapper header nav {
  display: flex;
  flex-direction: row;
  margin: 0rem auto;
  padding: 1rem;
  font-size: 1.5rem;
  justify-content: space-evenly;
}
.wrapper header nav a {
  text-decoration: none;
  color: #116466;
}
.wrapper header nav a:hover {
  animation: nav-ani 2.8s both;
}
@keyframes nav-ani {
  10%,
  90% {
    transform: translate3d(-0.1rem, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(0.2rem, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-1rem, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(0.5rem, 0, 0);
  }
}
.wrapper .topcon {
  background-color: #FFCB9A;
  border-radius: 2rem 0 0 0;
}
.wrapper .topcon img {
  width: 33%;
  margin: 0 auto;
  padding: 2rem;
}
.wrapper .topcon h1 {
  font-size: 2rem;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 0;
}
.wrapper .topcon h2 {
  font-size: 1rem;
  font-variant: small-caps;
  display: inline-block;
  text-indent: 4rem;
  color: #116466;
}
.wrapper .topcon p {
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 2rem;
  line-height: 2em;
}
.wrapper .topcon p em {
  color: #116466;
  padding: 0.5rem;
}
.wrapper .topcon .button {
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #116466;
  color: #D9B08C;
  border: 0.2rem dashed #D1E8E2;
}
.wrapper .midcon {
  border: 0.1rem dashed #2C3531;
  border-top: 2rem solid #2C3531;
  display: flex;
  flex-direction: row;
  margin: 0rem auto;
  padding: 1rem;
  align-content: space-evenly;
}
.wrapper .midcon div {
  width: 60%;
  font-size: 1rem;
  line-height: 2rem;
  text-indent: -2rem;
  margin: 0 auto;
  padding: 2rem;
}
.wrapper .midcon div small {
  font-size: 0.7rem;
  font-style: italic;
}
.wrapper .midcon .list {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  padding: 1rem;
  align-items: center;
  padding-right: 2rem;
}
.wrapper .midcon .list h3 {
  font-size: 1.4rem;
  font-style: bold;
  font-variant: small-caps;
  padding: 1rem;
  border-bottom: 0.1rem dotted #2C3531;
  width: 75%;
}
.wrapper .midcon .list .list-item {
  width: 70%;
  border-bottom: 0.1rem dotted #2C3531;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}
.wrapper .history {
  border: 1rem solid #2C3531;
}
